$theme-colors:(
  "primary": #d9a035,
  "secondary": #d95b5c,
  "light": #feffd5,
  "success": #0f5132,
);

$font-size-base: 18;

@import "bootstrap/scss/bootstrap.scss";

html {
  scroll-padding-top: 75px;
}
